<!DOCTYPE html>
<html>
<head>
	<title>Pokhara</title>
</head>
<body>
    <div style="text-align: center;">
        <h1 ><%= title %></h1>
        <img src="/images/pokhara.png" alt="Pokhara" style="width:500px;height:500px">
    </div>
</body>
</html>